.mainTitle{
    color:purple;
    font-size: xx-large;
    font-weight: bold;
}
.tabsWrapper{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}